<nav class="sidebar-nav">
    {{- $currentPage := . -}}
    {{ range .Site.Menus.main }}
    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
	{{- $currentLocale := .Site.Language.Lang -}}
	{{ range .AllTranslations }}
	<a class="sidebar-nav-item{{if eq .Language.Lang $currentLocale}} active{{end}}" href="{{ .Permalink }}">{{ .Language.Lang }}</a>
	{{end}}
</nav>
